#hello {
    --more-button-color: var(--color-enfasis-1);
    --font-color: white;
    --size-more-button : min(5vh, 5vw);
    margin: 0 auto;
    font-family: monospace;
  }
  
  #hello .section-content{
    padding: 2vh 3vw;
  }
  
  #hello .section-content div {
    height: var(--size-more-button);
    width: var(--size-more-button);
    background-color: white;
    border: 2px solid black;
    margin: 2vh auto;
    border-radius: 20%;
  
    position: absolute;
    bottom: 5vh;
    right: 50vw;
  }
  
  #hello .section-content div:hover {
    background-color: var(--more-button-color);
  }
  
  #hello .section-content div a img {
    width: var(--size-more-button);
    height: var(--size-more-button);
  }
  
  #hello .section-content div a img {
    width: var(--size-more-button);
    height: var(--size-more-button);
  }
  
  .type_machine_text {
    /*
    width: [numero de caracteres]ch
    animation: typing 2s steps([numero de caracteres]),
     blink 0.5s infinite step-end alternate;
    overflow: hidden;
    */
    display: block;
    white-space: nowrap;
    border-right: 5px solid;
    width: 5ch;
  
    animation: typing 2s steps(5),
     blink 0.5s infinite step-end alternate;
    overflow: hidden;
  
    /* font */
    font-size: max(20vw, 40px, 20vw);
    color: var(--font-color);
    /*text-shadow: 4px 4px 8px var(--color1);*/
    margin: 0 auto;
    
  }
  
  .hello_name{
    font-size: max(10vh, 25px);
    margin: auto auto;
    color: var(--font-color);
    /*text-shadow: 2px 2px 4px var(--color1);*/
    margin: 0 auto;
    text-align: left;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }