@import url(./reset.css);

:root {
  --color-enfasis-1: #a63333;
  --color-enfasis-2: #260101;
  --color-enfasis-3: #6a7329;
  --color-enfasis-: #6a7329;
  --color-light-1: #bf8450;
  --color-light-0: #f2ca99;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  min-width: 400px;
  height: 100vh;

  /*background*/
  background-image: url("../source/backgrounds/1117926.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  max-width: 100%;
  overflow-x: hidden;

  display: block;
}

::-webkit-scrollbar {
  display: none;
}

/* propiedades del texto */
h1 {
  font-size: max(6vh, 40px);
}

h2 {
  font-size: max(4vh);
}

h3 {
  font-size: calc(18px + 0.25rem);
}

p {
  font-size: 1.25rem;
}

/* bloques */
section {
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

  /*
  margin: 0 auto;
  display: table;
  */
}

section .section-content {
  padding: 3vw max(10vw, 10px);
  /* Flex */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  /*
  display: table-cell;
  vertical-align: middle;
  */
}

.resizable-colums {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.half-col {
  width: 49%;
}

.third-col {
  width: 32%;
}

.full-col {
  width: 100%;
}

.box {
  position: relative;
  /*max-width: 600px;*/
  padding: 40px;
  margin: 10px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Hello section */
#hello {
  --more-button-color: var(--color-enfasis-1);
  --font-color: white;
  --size-more-button: min(5vh, 5vw);

  --size-hello: max(min(25vw, 25vh), 70px);
  --size-name: max(min(5vh, 5vw), 40px);
  margin: 0 auto;
  font-family: monospace;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.8)
  ); /*Fondo oscuro*/
}

#hello .section-content {
  flex-direction: column;
  align-content: flex-start;
  min-height: 100%;
}

#hello .section-content div {
  height: var(--size-more-button);
  width: var(--size-more-button);
  background-color: white;
  border: 2px solid black;

  position: absolute;
  bottom: 5vh;
  border-radius: 20%;
  /*
  margin: 2vh auto;
  bottom: 5vh;
  right: 50vw;
  */
}

#hello .section-content div a img {
  width: 100%;
  height: auto;
}

#hello .section-content div:hover {
  background-color: var(--more-button-color);
  width: calc(var(--size-more-button) * 2);
  height: calc(var(--size-more-button) * 2);
}

.type_machine_text {
  /*
  width: [numero de caracteres]ch
  animation: typing 2s steps([numero de caracteres]),
   blink 0.5s infinite step-end alternate;
  overflow: hidden;
  */
  display: block;
  white-space: nowrap;
  border-right: 5px solid;
  width: 5ch;

  animation: typing 2s steps(5), blink 0.5s infinite step-end alternate;
  overflow: hidden;

  /* font */
  font-size: var(--size-hello);
  color: var(--font-color);
  /*text-shadow: 4px 4px 8px var(--color1);*/
  margin: 0 auto;
}

.hello_name {
  font-size: var(--size-name);
  margin: auto auto;
  color: var(--font-color);
  /*text-shadow: 2px 2px 4px var(--color1);*/
  /*margin: 0 auto;*/
  text-align: left;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Proyects section */
#proyects {
  /*Variables*/
  --background-color: var(--color-enfasis-1);
  --box-color: white;

  background-color: var(--background-color);
}

#proyects .section-content {
}

#proyects .section-content h1 {
  width: 100%;
  text-align: center;
  padding: 2vh;
}

#proyects-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  width: 100%;
}

#proyects-box > .proyect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  width: 30%;
  min-height: 80vh;
  /*
  padding: 40px;
  margin: 10px;
  */
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
  margin: 0 6px 18px;

  background-color: white;
}

#proyects-box > .proyect > .img-container {
  /*display: flex;
  justify-content: center;
  align-items: center;
  overflow: unset;*/

  height: 60%;
  width: 90%;
}

.img-container > .platform {
  width: 50%;
  height: 40%;
  border: 2px solid black;
  background-color: white;
  padding: 1vw 1vh;
  position: relative;
  margin-top: -10%;
  left: 20%;
  text-align: center;
}

.proyect > .title {
  font-style: oblique;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

  /*
  min-width: 100%;
  min-height: 100%;

  
  */
}

/*Sobre mi*/
#personal-information {
  /*background-image: url("../source/backgrounds/1117926.jpg");*/
  background-color: var(--color-enfasis-3);
}

#personal-information .section-content {
}

/* Skills */
#skills {
}

#skills .section-content {
}

/* Responsive */
@media (max-width: 1200px) {
  section .section-content {
    padding: max(10vw, 10px);
  }

  #proyects-box {
    flex-direction: column;
  }

  #proyects-box .proyect {
    width: 100%;
  }
}
