:root {
  /* propiedades default */
  --background: white;
  --primary: #c4ddff;
  --secondary: #7fb5ff;

  /* message colors */
  --alert: yellow;
  --correct: green;

  /* button colors */

  /*--font-base: */
  --font-size: 1em;
  --font-color: black;
  --font-disable-color: darkgrey;
  /*--font-family: Avenir;*/
}

/* Quitar barra de navegacion*/
::-webkit-scrollbar {
  display: none;
  }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 8vh;
}

p {
  font-size: 3vh;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* se acomoda en una segunda fila */
}

#wrapper {
  display: block;
  justify-content: center;
  align-items: center;

  padding: 0 0;

  height: 100vh;
  width: auto;

  /*background-image: url("../source/backgrounds/1117926.jpg");*/

  background-image: url("../source/backgrounds/1117926.jpg") repeat-x 50%,  url("../source/backgrounds/83960.jpg") repeat-x 70%,  url("../source/backgrounds/1117926.jpg") repeat-x 120%,  no-repeat;
}

#fondo {
  width: 100%;
  height: 100vh;
  background-image: url("../source/backgrounds/83960.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#fondo p {
  color: white;
  font-size: 25vh;
}

.delay_scroll {
  opacity: 0;
  transition: all 0.5s;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0;

  height: 100vh;
  width: auto;
  background-image: url("../source/backgrounds/1117926.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 0 100px;
}

.section .box {
  position: relative;
  max-width: 600px;
  padding: 40px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.type_machine_text {
  /*
  width: [numero de caracteres]ch
  animation: typing 2s steps([numero de caracteres]),
   blink 0.5s infinite step-end alternate;
  overflow: hidden;
  */
  font-family: monospace;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 4ch;

  animation: typing 2s steps(4),
   blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

