<app-main-layout>
  <!--Contenido de la pantalla-->
  <h1 class="display-1"><strong>Grupos</strong></h1>

  <form class="row g-2">
    <div class="col-auto">
      <label for="name" class="visually-hidden">Nombre del Grupo</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nombre del Grupo"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Añadir</button>
    </div>
  </form>

  <br />
</app-main-layout>
