:root {
  /* propiedades default */
  --background: white;
  --primary: #c4ddff;
  --secondary: #7fb5ff;

  /* message colors */
  --alert: yellow;
  --correct: green;

  /* button colors */

  /*--font-base: */
  --font-size: 1em;
  --font-color: black;
  --font-disable-color: darkgrey;
  /*--font-family: Avenir;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fondo {
  width: 100%;
  height: 100vh;
  background-image: url("../source/84366.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#fondo p{
  color: white;
  font-size: 25vh;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0;

  height: 100vh;
  width: auto;
  background-image: url("../source/1116418.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 0 100px;
}

.section .box {
  position: relative;
  max-width: 600px;
  padding: 50px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0,.5);
}