<app-main-layout>
  <!--Contenido de la pantalla-->
  <div class="d-flex justify-content-between">
    <h1 class="display-1"><strong>Tareas</strong></h1>
    <button type="button" class="btn btn-outline-dark  btn-lg">
      <i class="bi bi-plus-lg"></i>
    </button>
    
  </div>

  <!--Pendientes-->
  <h3 class="display-4"><strong>Pendientes</strong></h3>

  <div id="accordion">
    <app-task-element
      date="25/02/1997"
      title="Cadena de prueba"
      [id]="12"
      body="Cuerpo de la tarea"
    ></app-task-element>

    <app-task-element
      date="25/02/1997"
      title="Cadena de prueba 2"
      [id]="12123"
      body="Cuerpo de la tarea <br> funciona</br>"
    ></app-task-element>

    <app-task-element
      date="Ayer"
      title="Tarea Vencida"
      [id]="11235"
      body="Cuerpo de la tarea <br> funciona</br>"
      type="danger"
    ></app-task-element>

    <app-task-element
      date="25/02/1997"
      title="Cadena de prueba"
      [id]="123455"
      body="Cuerpo de la tarea"
    ></app-task-element>

    <app-task-element
      date="25/02/1997"
      title="Cadena de prueba 2"
      [id]="12123776868"
      body="Cuerpo de la tarea <br> funciona</br>"
    ></app-task-element>

    <app-task-element
      date="Ayer"
      title="Tarea Vencida"
      [id]="1121233453535"
      body="Cuerpo de la tarea <br> funciona</br>"
      type="danger"
    ></app-task-element>
  </div>
  <br />

  <!--Realizadas-->
  <h3 class="display-4"><strong>Realizadas</strong></h3>
  <!--
    <app-task-group></app-task-group>
  -->
  <br />
</app-main-layout>
