<app-main-layout>
  <div class="d-flex justify-content-between">
    <h1 class="display-1"><strong>Nueva Tarea</strong></h1>
    <button
      type="button"
      routerLink="/tasks"
      class="btn btn-outline-dark btn-lg"
    >
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>

  <form>
    <div class="mb-3">
      <label for="group_name" class="form-label">Nombre de la tarea</label>
      <input
        type="text"
        class="form-control"
        id="group_name"
        aria-describedby="group name"
      />
      <div id="emailHelp" class="form-text">
        Ingresa un nombre que exprese la tarea
      </div>
    </div>
    <div class="mb-3">
      <label for="group_select" class="form-label"
        >Grupo al que pertenece</label
      >
      <select
        id="group_select"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected>No pertenece a ningún grupo</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="description">Descripción</label>
      <textarea
        class="form-control"
        placeholder="Descripción de la Tarea"
        id="description"
        style="height: 150px"
      ></textarea>
    </div>
    <div class="mb-3">
      <h1 class="display-5"><strong>Pasos de la Tarea</strong></h1>
      <div id="steps"></div>
      <div class="w-100 py-3">
        <button id="stepbt" type="button" class="btn btn-primary w-50">
          Añadir paso
        </button>
        <button id="stepbtrm" type="button" class="btn btn-danger w-50">
          Quitar Paso
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Crear Nueva Tarea</button>
  </form>
</app-main-layout>
