<span class=".md-title">Tareas</span>

<section>
    <h1>This header will be styled</h1>
  </section>

<app-mainlayout>
    <mat-tab-group backgroundColor="primary"
     mat-align-tabs="start" animationDuration="500ms">
        <mat-tab label="Lun">Lun</mat-tab>
        <mat-tab label="Mar">Mar</mat-tab>
        <mat-tab label="Mie">Mie</mat-tab>
        <mat-tab label="Jue">Jue</mat-tab>
        <mat-tab label="Vie">Vie</mat-tab>
        <mat-tab label="Sab">Sab</mat-tab>
        <mat-tab label="Dom">Dom</mat-tab>
      </mat-tab-group>
</app-mainlayout>