.example-spacer {
  flex: 1 1 auto;
}

#footer {
  position: fixed;
  padding: 5px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 10%;
  /*background: grey;*/
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.navigation {
  width: 100%;
  padding: 5px 0px;

  height: 90%;
  display: flex;
  flex-direction: row;

  align-items: center;
  align-content: center;
  align-self: center;
}

.button_navigation {
  height: 100%;
  width: 20%;
  height: 100%;

  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.button_navigation > * {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.mat-icon {
  scale: 2;
}
