<footer class="fixed-bottom bg-white px-4 pb-3 pt-2">
  <div class="container-fluid">
    <div class="btn-group btn-group-lg d-flex align-content-center" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-info w-20"
      routerLink="/tasks" role="button">
        <i class="bi bi-calendar-check"></i>
      </button>
      <button type="button" class="btn btn-outline-info w-20"
      routerLink="/groups" role="button">
        <i class="bi bi-people"></i>
      </button>
      <!--
        
      <button type="button" class="btn btn-outline-info w-20"
      routerLink="/chats" role="button">
        <i class="bi bi-chat-right-dots"></i>
      </button>
      -->
      <button type="button" class="btn btn-outline-info w-20"
      routerLink="/settings" role="button">
        <i class="bi bi-gear"></i>
      </button>
      
    </div>
  </div>
</footer>
