<app-layout>

    <div class="container">
        <p class="display-1">
            Productos
        </p>
    </div>
    

    <div class="container mx-auto">
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
        <app-carditem></app-carditem>
    </div>
    
</app-layout>
