<ng-content> </ng-content>

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid row">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <a type="button" class="btn text-white w-25 col" role="link" routerLink="">
        <i class="bi-lg bi-shop"></i>
      </a>
      <a type="button" class="btn text-white w-25 col" role="link" routerLink="">
        <i class="bi-lg bi-person"></i>
      </a>
      <a type="button" class="btn text-white w-25 col" role="link" routerLink="">
        <i class="bi-lg bi-gear"></i>
      </a>
    </div>
  </div>
</nav>

<div class="nav"></div>
