<!--
  @Input() "title": string; //titulo de la tarea
  @Input() "id": number; //id
  @Input() "date": string; //fecha limite
  @Input() "body": string; // cuerpo
  @Input() "type": string; // tipo por defecto primary
-->
<div attr.class="card mb-1 mt-1 bg-transparent border-{{type}}">
  <div attr.class="card-header d-flex justify-content-between row-12 bg-transparent border-{{type}}">
    <a
      class="btn col-10 w-90 text-start border-white"
      data-bs-toggle="collapse"
      attr.href="#collapse_id_{{id}}"
    >
    {{title}}
    <br>
    <p attr.class="fw-light text-{{type}}">{{date}}</p>
    </a>

    <div class="form-check my-auto col-1 w-10">
      <input
        class="form-check-input"
        type="checkbox"
        attr.id="task_checkbox_{{id}}"
        value="option1"
      />
    </div>
  </div>
  <div attr.id="collapse_id_{{id}}" class="collapse ">
    <!---
      data-bs-parent="#accordion"
      ---->
    <div class="card-body">
      {{body}}
    </div>
  </div>
</div>